<main class="container-fluid">

    <section class="row">
        <h2 class="col-12">
            Hola, {{this.first_name}} {{this.last_name}} {{this.email}} {{this.rol}}
            {{this.user}} 
        </h2>
    </section>

    <section class="row">
        <form class="d-flex justify-content-end align-items-end" action="/api/session/logout" method="get">
            <button type="submit" class="btn btn-sm logout">logout</button>
        </form>
    </section>

     <section class="row justify-content-center align-items-center">
        <article class="col-md-5 mt-4 text-center">
            <form action="/api/views/products/" method="get">
               <input type="hidden" name="first_name" value="{{this.first_name}}">
               <input type="hidden" name="rol" value="{{this.rol}}">
               <button type="submit" class="btn col-8 mt-1 login">Actualizar lista</button>   
            </form>
        </article>
    </section>


    <section class="row">
        <h2 class="col-12">
            Lista de productos
        </h2>

        <form action="/api/views/purcharse" method="POST">
            <input type="hidden" name="first_name" value="{{first_name}}">
            <input type="hidden" name="rol" value="{{rol}}">

        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>Id.</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {{#each products}}
                    <tr> 
                        <td>{{this.id}}</td> 
                        <td>{{this.title}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.category}}</td>
                        <td>
                            <input type="checkbox" name="selectedProducts" value="{{this.id}}">
                        </td>
                    </tr>
                    {{/each}}                
            </tbody>
        </table>
           
                <button class="btn btn-sm agregarcarrito">Comprar</button>
        </form>

    </section>


    <section class="row">
        <article class="col-6">
            <p>Página actual {{page}}</p>
        </article>

        <article class="col-6">
            <p>
            {{#if hasPrevPage}}
                <a href="/api/views/products?page={{prevPage}}"><button class="btn btn-sm btn-secondary">Anterior</button></a>
            {{/if}}

            {{#if hasNextPage}}
                <a href="/api/views/products?page={{nextPage}}"><button class="btn btn-sm btn-primary">Siguiente</button></a>
            {{/if}}
            </p>
        </article>
    </section>

</main>
