<div>
<table border="1">
    <caption>Productos registrados</caption>
    <thead>
        <tr>
            <th> Id. </th>
            <th> Título </th>
            <th> Descripción </th>
            <th> Precio </th>
            <th> Stock </th>
        </tr>
    </thead>
    
    <tbody>
       
         {{#each name}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
            </tr>     
        {{/each}}
       
    </tbody>
</table>
</div>